<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

  </head>
  <body>
    <div class="container">
      <div class="row">
          
        <div class="col">
              <br/>

              <span>
                <label for="shortenURL">Get Shortened URL</label>
                <input type="text" id="shortenURL" >
              </span>
              <button onClick="shortenDef(this.id)" id="shortenButton" class="btn btn-outline-primary">Submit</button>
              <br>
              <div id="shortenedUrlResp"></div>
              <a id="shortenedUrlLink" ></a>


              
        </div>

        <!-- <div class="col">
            <br/>

            <span>
                <label for="resolveURL">Resolve URL</label>
                <input type="text" id="resolveURL" >
            </span>
            <button id="resolveButton" onClick="resolveDef(this.id)" class="btn btn-outline-primary">Resolve</button>
            <br>
            <div id="resolvedUrlResp"></div>

        </div> -->

      </div>
  
    </div>


    <script>

       

        function shortenDef(){
                  let shortenURL = document.getElementById('shortenURL')
                  let url = shortenURL.value

                  fetch("/shortenUrl", {
                    method: "POST", 
                    headers: new Headers({'content-type': 'application/json'}),

                    body: JSON.stringify({
                      url: url
                    })
                  }).then(res => {
                    console.log("Request completed!" );
                    // console.log(res.json())
                    return res.json()
                  }).then(res=> {
                    // let str = JSON.stringify(res);
                    console.log("The request has reached here")
                    console.log(res);
                    // res = res['return_data']
                    let shortenedURLResp = document.getElementById('shortenedUrlResp');
                    let shortenedUrlLink = document.getElementById('shortenedUrlLink');
                    if(res['message']){
                      shortenedURLResp.innerHTML = res['message']
                      shortenedUrlLink.href  = ""
                      shortenedUrlLink.text = ""
                    }
                    else{
                    
                      shortenedURLResp.innerHTML = "The shortened URL is: "
                      shortenedUrlLink.href  = res['url']
                      shortenedUrlLink.text = res['url']
                    }
                })

        }

        // function resolveDef(){
        //           let resolveUrl = document.getElementById('resolveURL')
        //           resolveUrl = resolveUrl.value
        //           url = `/${resolveUrl}`
        //           fetch(url, {
        //             method: "GET", 
        //           }).then(res => {
        //             console.log("Request completed!");
        //             return res.json()
        //           }).then(res=> {
        //             console.log(res);
        //             let resolvedUrlResp = document.getElementById('resolvedUrlResp');
        //             resolvedUrlResp.innerHTML =  "The resolved URL is: " + res['url']
        //         })

        // }

     
    

    </script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>


